.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 40px;
}

.addContainer {
  width: 50%;
  height: 50px;
}

.addInput {
  width: 70%;
  border: 1px solid lightblue;
}

.todo-item {
  width: 50%;
  height: 50px;
  border: 1px solid lightblue;
}

.todo-deleteButton {
  width: 60px;
  height: 40px;
  cursor: pointer;
  border: 1px solid lightblue;
}
